@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent: #0d9488;
  --color-accent-light: #14b8a6;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
